    <div style="padding:0 20px" ng-controller="adminController as admin" >
    	<h1>Admin Panel</h1>
    		<section ng-init="adTab=1">
    			<ul class="nav nav-pills">
    				<li ng-class="{active:adTab===1}"><a href ng-click="adTab = 1">Edit Picks</a></li>
    				<li ng-class="{active:adTab===3}"><a href ng-click="adTab = 2; admin.init(home)">Edit Questions</a></li>
    			</ul>
    		</section>

    		<div  ng-show="adTab === 1">
    			<div class="container" ng-controller="longTermPickController as long">
    				
			      	<br>
			      	<br>

			       <select ng-model="selected" ng-options="piece.name for piece in admin.pieces">
			      	</select>
			      	<br>

			      	<div ng-show="selected" >
			  	    		<p>selected item is : </p>
			  	    		<h5>Name : {{selected.name}}</h5>
			  	    		<h5 >Picture: <img ng-src="{{selected.pic}}" width='100px' height="100px"/></h5>
			  	    		<h5 ng-model="selected.isAlive">Still in Game: {{selected.isAlive}}</h5>
			  	    		<button ng-show="selected.isAlive == false" ng-click="admin.addPlayer(home,selected.id)">Add Player</button>
			  	    		<button ng-show="selected.isAlive == true" ng-click="admin.removePlayer(home,selected.id)">Remove Player</button>
			  	    </div>
			  	    <div style="margin-top: 20px">
				  	    <div ng-repeat="piece in admin.pieces" ng-if="piece.isAlive == true " class="col-sm-3 col-md-3" style="text-align:center; " >
				  	      <div style="width:100px; height:100px; background-image: url({{piece.pic}}); background-size:cover; margin:0 auto;" data-clicked="false" data-round="fantasy"  >
				  	      </div>
				  	      <span>{{piece.name}}</span>
				  	    </div>
    			  	</div>
    			</div>
    		</div>

    		<div  ng-show="adTab ===2" ng-init="optionTab=1">
		    	<button ng-click="admin.edit()">Edit</button>
		    	<button ng-click="admin.add(); optionTab=1">Add</button>
		    	<div ng-show="admin.inEdit">

			    	<form name="editForm" ng-submit="admin.editQuestion(home, selectedItem)">
			    		<p>selected item is : {{selectedItem  }}</p>
			    		<select form="editform" ng-model="selectedItem" >
			    		  <option ng-repeat="ques in admin.questions" value="{{ques.num -1}}" ng-model="admin.questions[selectedItem]">{{ques.num}}</option>
			    		</select>
			    		<input type="text" ng-model="admin.questions[selectedItem].question"/>
			    		<input type="submit" value="ok"/>
			    	</form>
			    	<h1>{{admin.questions[selectedItem].question}}</h1>
			    	<h2 ng-repeat="option in admin.questions[selectedItem].options">{{option.name}}<img ng-src="{{option.pic}}" width='100px' height="100px"/></h2>

		    	</div>

		    	<div ng-show="admin.inAdd" >

			    	<div ng-show="optionTab<5">
			    		<input type="text" ng-model="newQuestion"/>
			    		<button ng-click="admin.addQuestion(home,newQuestion,newSelect1, newSelect2, newSelect3, newSelect4); optionTab=5">Add</button>
			    		<h2>{{newQuestion}}</h2>
			    		<select ng-model="newSelect1" ng-options="piece.name for piece in admin.pieces"></select><button ng-click="optionTab=2">Ok</button>
			    		<div ng-show="newSelect1">
			    			<h5>Name : {{newSelect1.name}}</h5>
			  	    		<h5 >Picture: <img ng-src="{{newSelect1.pic}}" width='100px' height="100px"/></h5>
			  	    	</div>

			  	    	<div ng-show="optionTab>=2">
				  	    	<select  ng-model="newSelect2" ng-options="piece.name for piece in admin.pieces"></select><button ng-click="optionTab=3">Ok</button>
				    		<div ng-show="newSelect2">
				    			<h5>Name : {{newSelect2.name}}</h5>
				  	    		<h5 >Picture: <img ng-src="{{newSelect2.pic}}" width='100px' height="100px"/></h5>
				  	    	</div>
			  	    	</div>
			  	    	<div ng-show="optionTab>=3">
				  	    	<select  ng-model="newSelect3" ng-options="piece.name for piece in admin.pieces"></select><button ng-click="optionTab=4">Ok</button>
				    		<div ng-show="newSelect3">
				    			<h5>Name : {{newSelect3.name}}</h5>
				  	    		<h5 >Picture: <img ng-src="{{newSelect3.pic}}" width='100px' height="100px"/></h5>
				  	    	</div>
			  	    	</div>
			  	    	<div ng-show="optionTab>=4">
				  	    	<select  ng-model="newSelect4" ng-options="piece.name for piece in admin.pieces"></select><button ng-click="">Ok</button>
				    		<div ng-show="newSelect4">
				    			<h5>Name : {{newSelect4.name}}</h5>
				  	    		<h5 >Picture: <img ng-src="{{newSelect4.pic}}" width='100px' height="100px"/></h5>
				  	    	</div>
			  	    	</div>
			  	    </div>
			  	    	<div ng-show="optionTab==5">
			  	    		<h3>Question Added</h3>
			  	    	</div>
		    	</div>
    		</div>


    	

    </div>

    