<h1>Long Term Picks</h1>
	<section ng-init="lgTab=1">
		<ul class="nav nav-pills">
			<li ng-class="{active:lgTab===1}"><a href ng-click="lgTab = 1">Hometown</a></li>
			<li ng-class="{active:lgTab===2}"><a href ng-click="lgTab = 2">Fantasy Suite</a></li>
			<li ng-class="{active:lgTab===3}"><a href ng-click="lgTab = 3">Final Rose</a></li>
		</ul>
	</section>
	<div class="panel" ng-show="lgTab === 1">
		<h1>HomeTown</h1>
		<div class="container">
			<h2>{{long.message}}</h2>
		    <div class="row">
		        <div  ng-repeat="piece in long.pieces" ng-if="piece.isAlive == true " class="col-sm-3 col-md-3 chew" style="text-align:center" >
		          <div style="width:100px; height:100px; background-image: url({{piece.pic}}); background-size:cover; margin:0 auto;" data-clicked="false" ng-click="long.addPick($event, piece.id)">
		          </div>
		          <span >{{piece.name}}</span>
		        </div>
		     </div>
		  
		</div>
	</div>
	<div class="panel" ng-show="lgTab === 2">
		<h1>Fantasy Suite</h1>
		<div class="container">
			<h2>{{long.message}}</h2>
		    <div class="row">
		        <div  ng-repeat="piece in long.pieces"  ng-if="piece.isAlive == true " class="col-sm-3 col-md-3" style="text-align:center" >
		          <div style="width:100px; height:100px; background-image: url({{piece.pic}}); background-size:cover; margin:0 auto;">
		          </div>
		          <span >{{piece.name}}</span>
		        </div>
		     </div>
		  
		</div>
	</div>
	<div class="panel" ng-show="lgTab === 3">
		<h1>Final Rose</h1>
		<div class="container">
			<h2>{{long.message}}</h2>
		    <div class="row">
		        <div  ng-repeat="piece in long.pieces" ng-if="piece.isAlive == true " class="col-sm-3 col-md-3" style="text-align:center" >
		          <div style="width:100px; height:100px; background-image: url({{piece.pic}}); background-size:cover; margin:0 auto;">
		          </div>
		          <span >{{piece.name}}</span>
		        </div>
		     </div>
		  
		</div>
	</div>



	